fastapi==0.110.0
uvicorn==0.28.0
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
python-multipart==0.0.9
PyYAML==6.0.2
opencv-python-headless==4.10.0.84
ultralytics==8.3.0
easyocr==1.7.2
lapx>=0.5.2
